
# LOCAL CONFIG SETTINGS
# Exclude local config files so we don't overwrite other local setups.
# Leave example files that can be copied to get setup
# ------------------------------------------------------------
/craft/config/local/*
/craft/config/local/
!/craft/config/local/db.php.example
!/craft/config/local/general.php.example


# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/storage/*
!/storage/.gitignore
!/storage/logo/*
/db_backups/
/db_backups/*
/public/path.php


# Uploaded files
# ----------------------------------------------------------------------
public/assets/uploads/*

# Private node modules
# ----------------------------------------------------------------------
node_modules
npm-debug.log



# MISC FILES
# https://github.com/github/gitignore/tree/master/Global
# ------------------------------------------------------------
.cache
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
ehthumbs.db
.idea
.project
.settings
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
Thumbs.db
/logs/*
.Spotlight-V100
.Trashes
config.codekit
.codekit-cache



#bower_components
.tmp
.sass_cache
.codekit-cache


# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache


# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
